@{ 
    ViewBag.Title = "Organizr";
}
@model List<Synapsr.Logistics.TimeTable.Event>
@Styles.Render("~/bundles/styles/timetable")
<div class="row">
    <div class="col-md-1 pull-right">
        <b>Saptamina: pară.</b>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="timetable"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="tdetail" style="margin-top:30px">

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/timetable")
@section scripts{
<script>
    function ShowDetails(id) {
        $.ajax({
            url: '@Url.Action("ShowDetails","Organizr")' + "?id=" + id,
            type: 'GET',
            success: function (result) {
                $('#tdetail').html(result);
            }
        });
    }
    var timetable = new Timetable();
    timetable.setScope(8, 18);
    timetable.addLocations(['Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri']);
    @{
    var xx = DateTime.Now;
    foreach (var item in Model)
    {
            @:timetable.addEvent("@(item.obiect)", "@(item.zi)", new Date("@(item.start_date)"), new Date("@(item.end_date)"), '@(item.link)');
                            }
    }

    var renderer = new Timetable.Renderer(timetable);
    renderer.draw('.timetable');

    var evs = document.getElementsByClassName('time-entry');
    for (var i = 0; i < evs.length; i++) {
        evs[i].setAttribute("onclick", "ShowDetails(" + i + ");");
    }
</script>
}